{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  {% if category and category == 'publication' %}
    <article>
      <header class="main_article">
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        <div class="tags">
          <span class="tag_label">TAGGED</span>
          {% include 'include/tag_list.html' %}
        </div>
        <blockquote>
          <div class="citation">{{ article.authors|format_authors }},
            "{{ article.title }},"
            <span class="journal">{{ article.journal }}</span>
            <span class="volume">{{ article.volume }}</span>, {{ article.page }} ({{ article.date.year }})
          </div>
          <div>
            <a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}.pdf" rel="alternate" title="PDF Reprint" class="btn btn-warning btn-xs" role="button"><span data-icon="q" style="vertical-align: -1.5px; line-height: 1px;"></span> download</a>
            {% if article.doi %}
              <a href="http://dx.doi.org/{{ article.doi }}" rel="alternate" title="doi: {{ article.doi }}" class="btn btn-warning btn-xs" role="button">doi: {{ article.doi }}</a>
            {% endif %}
          </div>
        </blockquote>
      </header>

      <h2>Abstract</h2>

      {{ article.content }}

    </article>

  {% else %}

    <article>
      <header class="main_article">
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        <div class="tags" style="padding: 0;">
          <span class="tag_label">TAGGED</span>
          {% include 'include/tag_list.html' %}
        </div>
        <div><span class="tag_label">POSTED</span> <time datetime="{{ article.date.isoformat() }}" class="text-warning">{{ macros.format_date(article.date) }}</time>
          <span class="tag_label">by </span><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </div>
      </header>
      {{ article.content }}
    </article>
  {% endif %}

{% endblock %}