{% extends "base.j2" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  {% if 'thesis' in article.tags %}
    <article>
      <header class="main_article">
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        <div class="tags">
          <span class="tag_label">TAGGED</span>
          {% include 'include/tag_list.j2' %}
        </div>
        {# <div class="clearfix" style="margin-top: 8px;"> #}
          {# {% include 'include/social_links_horz.j2' %} #}
        {# </div> #}
      </header>

      <table class="table">
        <tr>
          <td>Abstract</td>
          <td><a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}_abstract.pdf" rel="alternate" title="PDF Reprint" class="btn btn-warning btn-xs" role="button"><span data-icon="q" style="vertical-align: -1.5px; line-height: 1px;"></span> download</a></td>
        </tr>
        <tr>
          <td>Introduction (3 MB)</td>
          <td><a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}_introduction.pdf" rel="alternate" title="PDF Reprint" class="btn btn-warning btn-xs" role="button"><span data-icon="q" style="vertical-align: -1.5px; line-height: 1px;"></span> download</a></td>
        </tr>
        <tr>
          <td>Quantum Cascade Laser Design and Operation Theory (1.3 MB)</td>
          <td><a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}_chpt2.pdf" rel="alternate" title="PDF Reprint" class="btn btn-warning btn-xs" role="button"><span data-icon="q" style="vertical-align: -1.5px; line-height: 1px;"></span> download</a></td>
        </tr>
        <tr>
          <td>Full Thesis (12.4 MB)</td>
          <td><a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}.pdf" download="{{ article.title|striptags }}.pdf" rel="alternate" title="PDF Reprint" class="btn btn-warning btn-xs" role="button"><span data-icon="q" style="vertical-align: -1.5px; line-height: 1px;"></span> download</a></td>
        </tr>
        <tr><td></td><td></td></tr>
      </table>

      <h2>Abstract</h2>

      {{ article.content }}

    </article>
  {% elif category and category == 'publication' %}
    <article>
      <header class="main_article">
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        <div class="tags">
          <span class="tag_label">TAGGED</span>
          {% include 'include/tag_list.j2' %}
        </div>
        <blockquote>
          <div class="citation">{{ article.authors|format_authors }},
            "{{ article.title }},"
            <span class="journal">{{ article.journal }}</span>
            <span class="volume">{{ article.volume }}</span>, {{ article.page }} ({{ article.date.year }})
          </div>
          <div>
            <a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}.pdf" download="{{ article.title|striptags }}.pdf" rel="alternate" title="PDF Reprint" class="btn btn-warning btn-xs" role="button"><span data-icon="q" style="vertical-align: -1.5px; line-height: 1px;"></span> download</a>
            {% if article.doi %}
              <a href="http://dx.doi.org/{{ article.doi }}" rel="alternate" title="doi: {{ article.doi }}" class="btn btn-warning btn-xs" role="button">doi: {{ article.doi }}</a>
            {% endif %}
          </div>
        </blockquote>
        {# <div class="clearfix" style="margin-top: 8px;"> #}
          {# {% include 'include/social_links_horz.j2' %} #}
        {# </div> #}
      </header>

      <h2>Abstract</h2>

      {{ article.content }}

    </article>

  {% else %}

    <article>
      <header class="main_article">
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        <div><span class="tag_label">POSTED </span><time datetime="{{ article.date.isoformat() }}" class="text-warning">{{ macros.format_date(article.date) }}</time>
          <span class="tag_label">by </span><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </div>
        <div class="tags" style="padding: 0;">
          <span class="tag_label">TAGGED</span>
          {% include 'include/tag_list.j2' %}
        </div>
        {# <div class="clearfix" style="margin-top: 7px;"> #}
          {# {% include 'include/social_links_horz.j2' %} #}
        {# </div> #}
      </header>

      {{ article.content }}

    </article>
  {% endif %}

{% endblock %}