{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  {% if category and category == 'publication' %}
    <article>
      <header>
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        {# <p><time pubdate datetime="{{ article.date.isoformat() }}">{{ format_date(article.date) }}</time></p> #}
        <div class="tags">
          <span id="tag_label">TAGGED</span>
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}"><button type="button" class="btn btn-danger btn-xs">{{ tag }}</button></a>
          {% endfor %}
        </div>

        <blockquote><span class="citation">{{ article.authors|format_authors }},
            "{{ article.title }},"
            <span class="journal">{{ article.journal }}</span>
            <span class="volume">{{ article.volume }}</span>, {{ article.page }} ({{ article.date.year }})
          </span>
          <br>
          <a href="{{ SITEURL }}/static/pdf/{{ article.local_id }}.pdf" rel="alternate" title="PDF Reprint"><button type="button" class="btn btn-warning btn-xs">download</button></a>
          {% if article.doi %}
            <a href="http://dx.doi.org/{{ article.doi }}" rel="alternate" title="doi: {{ article.doi }}"><button type="button" class="btn btn-warning btn-xs">doi: {{ article.doi }}</button></a>
          {% endif %}
        </blockquote>
      </header>

      {#
      <ul class="social-buttons cf">
        <li><a href="http://www.facebook.com/sharer.php?u=http://notinkansasnow.com&amp;t=NotInKansasNow" class="socialite facebook-like" data-href="http://j.mp/1knuGFC" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a></li>
        <li><a href="http://twitter.com/share" class="socialite twitter-share" data-text="tweet text" data-url="http://j.mp/1knuGFC" data-counturl="http://j.mp/1knuGFC" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a></li>
        <!--<li><a href="https://plus.google.com/share?url=http://socialitejs.com" class="socialite googleplus-one" data-size="tall" data-href="http://socialitejs.com" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a></li>-->
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://notinkansasnow.com&amp;title=NotInKansasNow" class="socialite linkedin-share" data-url="http://j.mp/1knuGFC" data-counter="top" rel="nofollow" target="_blank"><span class="vhidden">Share on LinkedIn</span></a></li>
      </ul>
      #}

      <h2 style="color: #aaaaaa">Abstract</h2>
      <p>
        {{ article.content }}
      </p>

      {#
      {% if article.disclaimer %}
        <footer>
          <p><small>{{ article.disclaimer }}</small></p>
        </footer>
      {% endif %}
      #}

    </article>
  {% endif %}
<!--<section id="content" class="body">-->
  <!--<header>-->
    <!--<h2 class="entry-title">-->

 <!--{% import 'translations.html' as translations with context %}-->
 <!--{{ translations.translations_for(article) }}-->
  <!--</header>-->
  <!--<footer class="post-info">-->
    <!--<abbr class="published" title="{{ article.date.isoformat() }}">-->
      <!--{{ article.locale_date }}-->
    <!--</abbr>-->
	<!--{% if article.modified %}-->
    <!--<abbr class="modified" title="{{ article.modified.isoformat() }}">-->
      <!--{{ article.locale_modified }}-->
    <!--</abbr>-->
	<!--{% endif %}-->
    <!--{% if article.author %}-->
    <!--<address class="vcard author">-->
      <!--By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>-->
    <!--</address>-->
    <!--{% endif %}-->
  <!--</footer>&lt;!&ndash; /.post-info &ndash;&gt;-->
  <!--<div class="entry-content">-->

  <!--</div>&lt;!&ndash; /.entry-content &ndash;&gt;-->
<!--</section>-->
{% endblock %}

{% block links %}
<ul class="social-buttons">
    <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="whispersystems">Tweet</a></li>
    <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.whispersystems.org%2Fblog%2Fadvanced-ratcheting&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:107px; height:21px;" allowTransparency="true"></iframe></li>
    <li><a href="http://news.ycombinator.com/submit"  data-title="" data-url="http://whispersystems.me/blog/advanced-ratcheting" class="hn-share-button">Vote on HN</a></li>
  </ul>
{% endblock %}