{% macro format_date(date) -%}
  {{ date.strftime('%B') }} {{ date.day }}, {{ date.strftime('%Y') }}
{%- endmacro %}

{% macro make_title() -%}
  {%- if page -%}
    {{ page.title|striptags|title }} | {{ SITENAME }} by {{ AUTHOR }}
  {%- elif article -%}
    {%- if category == 'publication' -%}
      {{ article.title|striptags }} | {{ SITENAME }} by {{ AUTHOR_FULL }}
    {%- else -%}
      {{ article.title|striptags }} | {{ SITENAME }} by {{ AUTHOR }}
    {%- endif  -%}
  {%- elif tag -%}
    tagged {{ tag|striptags }} | {{ SITENAME }} by {{ AUTHOR_FULL }}
  {%- elif category -%}
    {%- if category == 'publication' -%}
      Publications | {{ SITENAME }} by {{ AUTHOR_FULL }}
    {%- else -%}
      {{ category|striptags|title }} | {{ SITENAME }} by {{ AUTHOR }}
    {%- endif  -%}
  {%- elif author -%}
    {{ author|striptags }} | {{ SITENAME }}
  {%- elif output_file == 'index.html' or output_file is re_match('^[0-9]+/index.html$') -%}
    {{ SITENAME }} | {{ AUTHOR_FULL }}
  {%- else -%}
    {{ page_name|striptags|title }} | {{ SITENAME }} by {{ AUTHOR_FULL }}
  {%- endif -%}
{%- endmacro %}

{% macro url() -%}
  {%- if article -%}
    {{ SITEURL }}/{{ article.url }}
  {%- elif page -%}
    {{ SITEURL }}/{{ page.url }}
  {%- elif tag -%}
    {{ SITEURL }}/{{ tag.url }}
  {%- elif category -%}
    {{ SITEURL }}/{{ category.url }}
  {%- elif author -%}
    {{ SITEURL }}/{{ author.url }}
  {%- else -%}
    {{ SITEURL }}
  {%- endif -%}
{%- endmacro %}

{% macro hashtags() -%}
  {%- if article -%}
    {%- for tag in article.tags -%}
      {{ tag|replace(' ', '') }}{% if not loop.last %},{% endif %}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro %}