{% import 'macros.j2' as macros with context %}
{% for article in articles_page.object_list %}
  <article>
    <header class="preview">
      <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
      {% if article.category == 'publication' %}
        <div>
          <div style="display: inline-block; padding-right: 3px;">
            <span class="tag_label">PUBLISHED</span>&nbsp;<time datetime="{{ article.date.isoformat() }}" class="text-warning">{{ macros.format_date(article.date) }}</time>
          </div>
          <div style="display: inline-block; padding-right: 6px;">
            <span class="tag_label">in</span>&nbsp;<em>{{ article.journal }}</em>
          </div>
          <div style="display: block; padding-right: 3px;">
            <span class="tag_label">TAGGED</span>&nbsp;{% include 'include/tag_list.j2' %}
          </div>
        </div>
      {% else %}
        <div>
          <div style="display: inline-block; padding-right: 3px;">
            <span class="tag_label">POSTED</span>&nbsp;<time datetime="{{ article.date.isoformat() }}" class="text-warning">{{ macros.format_date(article.date) }}</time>
          </div>
          <div style="display: inline-block; padding-right: 6px;">
            <span class="tag_label">by</span>&nbsp;<a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
          </div>
          <div style="display: block; padding-right: 3px;">
            <span class="tag_label">TAGGED</span>&nbsp;{% include 'include/tag_list.j2' %}
          </div>
        </div>
      {% endif %}
    </header>
    {{ article.summary }}
    <footer class="preview clearfix">
      {% include 'include/social_links_horz.j2' %}
      <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-warning btn-xs" role="button" style="float: right;">continue reading</a>
    </footer>
{# <!--title, date, tags, category, comment count, social?--> #}
  </article>

  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}

{% include 'include/pagination.j2' %}