<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ SITEURL }}/"><span class="navbar-brand"><span data-icon="a" class="logo_tornado"></span><span class="logo_not">Not</span><span class="logo_in">In</span><span class="logo_kansas">Kansas</span><span class="logo_now">now</span></span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ SITEURL }}/code/">Code</a></li>
      <!--<li><a href="{{ SITEURL }}/photography/">Photography</a></li>-->
      <li class="active"><a href="{{ SITEURL }}/publication/">Research</a></li>
      <li><a href="{{ SITEURL }}/kale-franz/">Me</a></li>
    </ul>
  </div><!-- /container -->
</nav>

{#
<iframe id="gh-fork" src="http://ghbtns.com/github-btn.html?user=thomaspark&repo=bootswatch&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>
<iframe id="gh-star" src="http://ghbtns.com/github-btn.html?user=thomaspark&repo=bootswatch&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>


#}