<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ SITEURL }}/"><span class="navbar-brand"><span data-icon="a" class="logo_tornado"></span><span class="logo_not">Not</span><span class="logo_in">In</span><span class="logo_kansas">Kansas</span><span class="logo_now">now</span></span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ SITEURL }}/code/">Code</a></li>
        <!--<li><a href="{{ SITEURL }}/photography/">Photography</a></li>-->
        <li><a href="{{ SITEURL }}/publication/">Research</a></li>
        <li><a href="{{ SITEURL }}/darwin/">Darwin</a></li>
        <li><a href="{{ SITEURL }}/kale-franz/">Me</a></li>
    </ul>
  </div><!-- /container -->
</nav>