<div class="jumbotron">
  <img src="{{ SITEURL }}/static/asset/kale_franz.jpg" alt="">
  <h1>What's up, world?!</h1>
  I'm Kale. And <span class="logo_not">Not</span><span class="logo_in">In</span><span class="logo_kansas">Kansas</span><span class="logo_now">now</span>
  is my personal blog about: coding, semiconductors, light, my dog.  Yeah, random.  Such
  it is for a personal blog.  Who am I? Currently a software engineer for
  <a href="https://www.23andme.com">23andMe</a>. Besides software, my other technical area is
  semiconductor lasers, specifically quantum cascade lasers. I actually have a PhD in that last part, but
  <a href="http://online.wsj.com/news/articles/SB10001424053111903480904576512250915629460">software is eating the world</a>.
</div>