{% import 'macros.j2' as macros with context %}
<div class="clearfix" style="display: inline-block;">
  <ul class="wpsocialite large">
    <li><a href="http://www.facebook.com/sharer.php?u={{ macros.url() }}&amp;t={{ macros.make_title()|urlencode }}" class="socialite facebook-like" data-href="{{ macros.url() }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a></li>
    <li><a href="http://twitter.com/share" class="socialite twitter-share" {# data-text="tweet text" #}data-url="{{ macros.url() }}" data-counturl="{{ macros.url() }}" data-via="kalefranz" data-hashtags="{{ macros.hashtags() }}" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a></li>
    <li><a href="https://plus.google.com/share?url={{ macros.url() }}" class="socialite googleplus-one" data-size="tall" data-href="{{ macros.url() }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a></li>
{#    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://notinkansasnow.com&amp;title=NotInKansasNow" class="socialite linkedin-share" data-url="http://j.mp/1knuGFC" data-counter="top" rel="nofollow" target="_blank"><span class="vhidden">Share on LinkedIn</span></a></li>#}
  </ul>
</div>