@font-face {
    font-family: "Sansation";
    src: url('/static/font/sansation-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Sansation";
    src: url('/static/font/sansation-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Sansation";
    src: url('/static/font/sansation-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    min-width:320px;
    color: black;
}
a {
    color: #2980b9;
}
a:hover {
    color: #2980b9;
    text-decoration: underline;
}
nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.navbar-default {
    background-color: #34495e;
}
.jumbotron {
    padding: 36px 60px;
    line-height: 160%;
    background-color: #1dd2af;
    font-family: 'Crimson Text', serif;
}
.jumbotron img {
  margin: 0 0 10px 15px;
  float: right;
}
.jumbotron h1 {
  font-family: Sansation, sans-serif;
  font-weight: bold;
  font-size: 54px;
  padding-bottom: 0.2em;
}
.aside {
    background-color: #1abc9c;
}
section {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 19px;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
}
h2 {
  font-weight: 500;
}
hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #C0392B;
    margin: 12px 0 20px;
    padding: 0;
}
.navbar-brand {
    height: 60px;
    font-size: 320%;
    position: relative;
    top: -8px;
}
.logo_tornado {
    font-size: 75%;
    color: #e74c3c;
}
a:hover .navbar-brand .logo_tornado {
    color: #df2f1b;
}
.logo_not {
    font-family: Sansation, serif;
    font-weight: 700;
    font-style: italic;
    color: black;
}
.logo_in {
    font-family: Sansation, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7b8996;
    font-size: 85%;
}
.logo_kansas {
    font-family: Sansation, serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}
.logo_now {
    font-family: Sansation, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #e74c3c;
}
.social_button_item {
    font-size: 26px;
    padding: 5px 8px 1px 8px;
}
.social_button_group {
    margin-bottom: 12px;
}
.social_button_group a {
  -o-transition: background .4s ease-in, border-color .4s ease-in;
  -ms-transition: background .4s ease-in, border-color .4s ease-in;
  -moz-transition: background .4s ease-in, border-color .4s ease-in;
  -webkit-transition: background .4s ease-in, border-color .4s ease-in;
  transition: background .4s ease-in, border-color .4s ease-in;
}
.social_button_group a:hover {
  -o-transition: background .15s ease, border-color .15s ease;
  -ms-transition: background .15s ease, border-color .15s ease;
  -moz-transition: background .15s ease, border-color .15s ease;
  -webkit-transition: background .15s ease, border-color .15s ease;
  transition: background .15s ease, border-color .15s ease;
}
.twitter_frame {
    margin-bottom: 11px;
}
.panel-heading {
    padding: 7px 15px;
}
.tag_cloud_1 {
    font-size: 110%;
    margin: 3px;
}
.tag_cloud_2 {
    font-size: 100%;
    margin: 3px;
}
.tag_cloud_3 {
    font-size: 90%;
    margin: 3px;
}
.tag_cloud_4 {
    font-size: 80%;
    margin: 3px;
}
.tag_label {
    font-family: 'Ubuntu', sans-serif;
    color: #aaa;
    font-weight: 700;
    font-size: 70%;
}
.tag_button {
    margin: 3px;
}
#wrap_not_footer {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}
.page_footer {
    height: 40px;
    background-color: #34495e;
    text-align: center;
}
.page_footer_container {
    height: 40px;
    line-height: 40px;
}
.citation {
    font-size: 85%;
    margin-bottom: 10px;
}
.citation .journal {
    font-style: italic;
}
.citation .volume {
    font-weight: 700;
}
.btn {
    font-family: 'Ubuntu', sans-serif;
}
h1 a:hover {
    text-decoration: none;
}
.tags {
    padding: 10px 0;
}
.label_bold {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 700;
}
.pagination .disabled a {
    cursor: default;
}
.pagination .disabled a:hover {
    cursor: default;
}
blockquote {
    border-left-color: #ddd;
    margin-bottom: 0;
}
.main_paginator {
    margin:0 auto;
    text-align:center;
    font-face: Ubuntu, sans-serif;
    font-weight: 700;
}
header.preview {
    margin-bottom: 12px;
}
footer.preview {
    margin-top: 12px;
}
article h2 {
    color: #aaa;
}
article header.main_article {
    margin-bottom: 12px;
}
span.nowrap {
//  white-space: nowrap;
  display: inline-block;
}

.vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.wpsocialite.large { display: table; table-layout: fixed; width: 100%; list-style: none; padding: 0; margin: 0; overflow: visible;}
.wpsocialite.large > li { display: table-cell; text-align: center; float: none; position: relative; white-space: nowrap; margin-left: auto; margin-right: auto; width: 1%;}
.wpsocialite.large .socialite { display: block; position: relative; margin-left: auto; margin-right: auto; }
.wpsocialite.large .socialite-loaded { background: none !important; }
.wpsocialite.large .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.wpsocialite.large .googleplus-one { width: 50px; height: 65px; background-position: -82px 0; }
.wpsocialite.large .facebook-like { width: 50px; height: 65px; background-position: -100px 0; }
.wpsocialite.large .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
.wpsocialite.large .pinterest-pinit { width: 50px; height: 65px; background-position: -367px 0; }
.wpsocialite.large .stumbleupon-share { width: 50px; height: 65px; background-position: -439px 0; }
.wpsocialite.large .twitter-follow { width: 56px; height: 65px; background-position: -509px 0; }
.wpsocialite.large .twitter-follow.socialite-loaded{ width:100%; }
//.wpsocialite.small { display: table; width: 100%; list-style: none; overflow: visible; padding: 0; margin: 0;} // padding: 10px; margin: 10px;
//.wpsocialite.small > li {display: table-cell;}
//.wpsocialite.small .socialite { display: block; position: relative; width: 90px; height: 23px;}
//.wpsocialite.small .socialite-loaded { background: none; }
//.wpsocialite.small .twitter-share { background-position: 0 0; }
//.wpsocialite.small .googleplus-one { width: 73px; background-position: 0 -45px; }
//.wpsocialite.small .facebook-like { background-position: 0 -10px; }
//.wpsocialite.small .linkedin-share { background-position: 0 -137px; }
//.wpsocialite.small .pinterest-pinit { background-position: 0 -175px; }
//.wpsocialite.small .stumbleupon-share { background-position: 0 -225px; }
//.wpsocialite.small .twitter-follow.socialite-loaded{ width:200px; }
//.wpsocialite.small .github { background-position: 0 0; }

.socialite-small {
  position: relative;
}

.socialite-small > ul {
//  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 12px;
  position: absolute;
}
.socialite-small > ul > li {
  display: inline;
  padding-right: 20px;
  width: 90px;
  height: 23px;
}

//.wpsocialite.small { display: table; width: 100%; list-style: none; overflow: visible; padding: 0; margin: 0;} // padding: 10px; margin: 10px;
//.wpsocialite.small > li {display: table-cell;}

//.socialite-small .socialite { display: block; position: relative; width: 90px; height: 23px;}
.socialite-small .socialite {
  display: inline;
  width: 90px;
  height: 23px;
}
.socialite-small .socialite-loaded {
  display: inline;
  width: 90px;
  height: 23px;
  background: none;
}

//.socialite-small .twitter-share { background-position: 0 0; }
//.socialite-small .googleplus-one { width: 73px; background-position: 0 -45px; }
.socialite-small .facebook-like { background-position: 0 -90px; }
.socialite-small .linkedin-share { background-position: 0 -137px; }
.socialite-small .pinterest-pinit { background-position: 0 -175px; }
//.socialite-small .stumbleupon-share { background-position: 0 -225px; }
.socialite-small .twitter-follow.socialite-loaded{ width:200px; }
//.socialite-small .github { background-position: 0 0; }

//.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
//    width: 100% !important;
//}

@media screen and (max-width: $screen-phone) { // < 480px
    .navbar-brand {
        font-size: 220%;
        padding-bottom: 10px;
        height: 40px;
    }
    .navbar-nav li a {
        padding: 8px;
    }
    .jumbotron {
        padding: 18px 20px;
        font-size: 14px;
        line-height: 21px;
    }
    .jumbotron h1 {
        font-size: 160%;
    }
    .jumbotron img {
        width: 100px;
        height: auto;
        margin: 0 0 8px 10px;
    }
    .main_content {
        font-size: 120%;
    }
    .main_content h1, .main_content h2, .main_content h3 {
        font-size: 140%;
    }
}

@media screen and (max-width: $screen-tablet) and (min-width: $screen-phone+1) {  // 480 <> 768 px
    .navbar-brand {
        font-size: 280%;
        padding-bottom: 12px;
        height: 50px;
    }
    ul.navbar-nav {
        padding-top: 9.5px;
    }
    .navbar-nav li a {
        padding: 10px;
    }
    .jumbotron {
        padding: 30px 40px;
        font-size: 18px;
        line-height: 30px;
    }
    .jumbotron img {
        width: 130px;
        height: auto;
        margin: 0 0 8px 10px;
    }
}

@media screen and (max-width: $screen-desktop) and (min-width: $screen-tablet+1) {  // 768 <> 992 px
    .jumbotron {
        padding: 32px 50px;
        font-size: 21px;
        line-height: 32px;
    }
}