@font-face {
    font-family: "Sansation";
    src: url('/static/font/sansation-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Sansation";
    src: url('/static/font/sansation-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Sansation";
    src: url('/static/font/sansation-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    min-width:320px;
    color: black;
}
a {
    color: #2980b9;
}
a:hover {
    color: #2980b9;
    text-decoration: underline;
}
nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.navbar-default {
    background-color: #34495e;
}
.jumbotron {
    padding: 36px 60px;
    line-height: 160%;
    background-color: #1dd2af;
}
.jumbotron img {
  margin: 0 0 10px 15px;
  float: right;
}
.aside {
    background-color: #1abc9c;
}
section {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 19px;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}
hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #C0392B;
    margin: 1em 0;
    padding: 0;
}
.navbar-brand {
    height: 60px;
    font-size: 320%;
    position: relative;
    top: -8px;
}
.logo_tornado {
    font-size: 75%;
    color: #e74c3c;
}
a:hover .navbar-brand .logo_tornado {
    color: #df2f1b;
}
.logo_not {
    font-family: Sansation, serif;
    font-weight: 700;
    font-style: italic;
    color: black;
}
.logo_in {
    font-family: Sansation, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7b8996;
    font-size: 85%;
}
.logo_kansas {
    font-family: Sansation, serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}
.logo_now {
    font-family: Sansation, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #e74c3c;
}
.social_button_item {
    font-size: 26px;
    padding: 5px 8px 1px 8px;
}
.social_button_group {
    margin-bottom: 12px;
}
.social_button_group a {
  -o-transition: background .4s ease-in, border-color .4s ease-in;
  -ms-transition: background .4s ease-in, border-color .4s ease-in;
  -moz-transition: background .4s ease-in, border-color .4s ease-in;
  -webkit-transition: background .4s ease-in, border-color .4s ease-in;
  transition: background .4s ease-in, border-color .4s ease-in;
}
.social_button_group a:hover {
  -o-transition: background .15s ease, border-color .15s ease;
  -ms-transition: background .15s ease, border-color .15s ease;
  -moz-transition: background .15s ease, border-color .15s ease;
  -webkit-transition: background .15s ease, border-color .15s ease;
  transition: background .15s ease, border-color .15s ease;
}
.twitter_frame {
    margin-bottom: 11px;
}
.panel-heading {
    padding: 7px 15px;
}
.tag_cloud_1 {
    font-size: 110%;
    margin: 3px;
}
.tag_cloud_2 {
    font-size: 100%;
    margin: 3px;
}
.tag_cloud_3 {
    font-size: 90%;
    margin: 3px;
}
.tag_cloud_4 {
    font-size: 80%;
    margin: 3px;
}
.tag_list {
    display: inline-block;
}
.tag_button {
    margin: 3px;
}
#wrap_not_footer {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}
.page_footer {
    height: 40px;
    background-color: #34495e;
    text-align: center;
}
.page_footer_container {
    height: 40px;
    line-height: 40px;
}
.citation {
    font-size: 85%;
    margin-bottom: 10px;
}
.citation .journal {
    font-style: italic;
}
.citation .volume {
    font-weight: 700;
}
.btn {
    font-family: 'Ubuntu', sans-serif;
}
h1 a:hover {
    text-decoration: none;
}
.tags {
    padding: 10px 0;
}
.tag_label {
    font-family: 'Ubuntu', sans-serif;
    color: #aaa;
    font-weight: 700;
    font-size: 70%;
}
.label_bold {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 700;
}
.pagination .disabled a {
    cursor: default;
}
.pagination .disabled a:hover {
    cursor: default;
}
blockquote {
    border-left-color: #ddd;
    margin-bottom: 0;
}
.main_paginator {
    margin:0 auto;
    text-align:center;
}
header.preview {
    margin-bottom: 12px;
}
footer.preview {
    overflow: hidden;
    margin-top: 12px;
}
footer.preview:after {
  visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
}
article h2 {
    color: #aaa;
}
article header.main_article {
    margin-bottom: 16px;
}

.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }
.vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
.social-buttons > li { display: block; margin: 0; padding: 10px; float: left; }
.social-buttons .socialite { display: block; position: relative; background: url('/static/asset/social-sprite.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }
.social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }

.wpsocialite .vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.wpsocialite.large { display: block; list-style: none; padding: 0; margin: 20px; overflow: visible; }
.wpsocialite.large:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.wpsocialite.large > li { display: block; margin: 0; padding: 10px; float: left; }
.wpsocialite.large .socialite { display: block; position: relative; background: url('social-sprite.png') 0 0 no-repeat; }
.wpsocialite.large .socialite-loaded { background: none !important; }
.wpsocialite.large .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.wpsocialite.large .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.wpsocialite.large .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.wpsocialite.large .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
.wpsocialite.large .pinterest-pinit { width: 50px; height: 65px; background-position: -367px 0; }
.wpsocialite.large .stumbleupon-share { width: 50px; height: 65px; background-position: -439px 0; }
.wpsocialite.large .twitter-follow { width: 56px; height: 65px; background-position: -509px 0; }
.wpsocialite.large .twitter-follow.socialite-loaded{ width:100%; }
.wpsocialite.large .vkontakte-like { width: 50px; height: 65px; background:red; }
.wpsocialite.small { display: block; list-style: none; padding: 10px; margin: 10px; overflow: visible; }
.wpsocialite.small > li { margin: 0; display:inline; float:left; width:20%; }
.wpsocialite.small .socialite { display: block; position: relative; width: 150px; height: 30px; background: url('custom-default.png') 0 0 no-repeat; }
.wpsocialite.small .socialite-loaded { background: none; }
.wpsocialite.small .twitter-share { background-position: 0 0; }
.wpsocialite.small .googleplus-one { background-position: 0 -45px; }
.wpsocialite.small .facebook-like { background-position: 0 -90px; }
.wpsocialite.small .linkedin-share { background-position: 0 -135px; }
.wpsocialite.small .pinterest-pinit { background-position: 0 -175px; }
.wpsocialite.small .stumbleupon-share { background-position: 0 -225px; }
.wpsocialite.small .twitter-follow.socialite-loaded{ width:200px; }

@media screen and (max-width: $screen-phone) { // < 480px
    .navbar-brand {
        font-size: 220%;
        padding-bottom: 10px;
        height: 40px;
    }
    .navbar-nav li a {
        padding: 8px;
    }
    .jumbotron {
        padding: 18px 20px;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        line-height: 21px;
    }
    .jumbotron h1 {
        font-size: 160%;
    }
    .jumbotron img {
        width: 100px;
        height: auto;
        margin: 0 0 8px 10px;
    }
    .main_content {
        font-size: 120%;
    }
    .main_content h1, .main_content h2, .main_content h3 {
        font-size: 140%;
    }
}

@media screen and (max-width: $screen-tablet) and (min-width: $screen-phone+1) {  // 480 <> 768 px
    .navbar-brand {
        font-size: 280%;
        padding-bottom: 12px;
        height: 50px;
    }
    ul.navbar-nav {
        padding-top: 9.5px;
    }
    .navbar-nav li a {
        padding: 10px;
    }
    .jumbotron {
        padding: 30px 40px;
        font-size: 18px;
        line-height: 30px;
    }
    .jumbotron img {
        width: 130px;
        height: auto;
        margin: 0 0 8px 10px;
    }
}

@media screen and (max-width: $screen-desktop) and (min-width: $screen-tablet+1) {  // 768 <> 992 px
    .jumbotron {
        padding: 32px 50px;
        font-size: 21px;
        line-height: 32px;
    }
}